.buttonsContainer {
    margin: 13px 0 30px;
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    justify-content: space-between;
}

.imageContainer {
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 12px;
}

.text, .info {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

