.loader {
    height: 90px;
    width: 90px;
    background-image: url("Ellipse 4.jpg");
    animation: 1, 5s linear infinite rotate;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}