.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 14px;
width: 240px;
}



.editableSpanContainer {
    display: flex;
    padding: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}