
.counter {

    width: 500px;
    border: 3px solid #61dafb;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;

}


.display {
    display: flex;
    background-color: #61dafb;
    border-radius: 30px;
    height: 180px;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.disabled {
    color: red;
}
.error {
    color: red;
    font-size: 30px;
    font-weight: bold;

}
.buttons {
    border: 3px solid #61dafb;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.buttons button {
    border: none;
    background-color: #61dafb;
    margin: 10px;
    border-radius: 15px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
}