.App {
    --header_height: 60px;
    position: relative;
    width: 1280px;
    height: 1770px;
    background: #FFFFFF;
    font-weight: bolder;
    color: #61dafb;

}

.hw {
    position: relative;
    padding: 20px 70px;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    padding: 20px 70px;
    border-bottom: 1px solid #D9D9D9;
}