.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    align-items: flex-start;
}

.error {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {

    box-sizing: border-box;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;

}

.errorInput {
    box-sizing: border-box;
    width: 372px;
    height: 36px;
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {

    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 78px;
    height: 36px;
    border-radius: 3px;
    background-color: #0066CC;
    opacity: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 12px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.greeting {
}
