.select {
    width: 165px;
    height: 24px;

}

.select:focus {
    appearance: textfield;

}

select {

}

.option:hover {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #0066CC;
    background-color: #FFFFFF;
}
